*{
    margin: 0px;
    padding: 0px;
}
.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.sign{
   padding: 10px 15px 10px 15px;
   box-sizing: border-box;
   border: 1px solid rgb(0, 106, 80);
   border-radius: 8px;
   
}

.banner-container{
width: 100%;
border-radius: 24px;
background: rgb(198, 228, 214);
background-image: url("./assets/hero.png");
}